<tr>
  <td><%= link_to_unless_current part.name, part %></td>
  <td><%= part.description %></td>
  <% if current_page?(part_url(part)) %>
    <td><%= part.jameco_pn %></td>
  <% end %>
  <td><%= part.quantity %></td>
  <% if current_page?(part_url(part)) %>
    <td><%= part.nominal_quantity %></td>
  <% end %>
  <% if current_page?(part_url(part)) %>
    <td class = "money">$<%= part.display_single_cost%></td>
  <% end %>
  <% if current_page?(part_url(part)) %>
    <td class = "money">$<%= part.display_lot_cost%></td>
  <% end %>
  <% if current_page?(part_url(part)) %>
    <td><%= part.lot_size %></td>
  <% end %>
  <td class = "money">$<%= part.display_student_price%></td>
  <% if part.deprecated.eql?(true)%>
    <td>Yes</td>
  <% else %>
    <td>No</td>
  <% end %>
  <td class = "edit_button"><%= link_to image_tag("edit-icon.png"), edit_part_path(part) %></td>
</tr>
