<p>Thank you for your puchase!</p>

<p>Transaction Number: <%= @transaction.id %></p>
<table id='transaction_parts' style="border:1px solid black;border-collapse:collapse">
  <tr style="text-align:center">
    <th style="padding:8px">Part Name</th>
    <th style="padding:8px">Description</th>
    <th style="padding:8px">Price</th>
    <th style="padding:8px">Quantity</th>
  </tr>
  <% @transaction.transaction_parts.each do |t| %>
    <% if t.part_id %>
      <tr style="text-align:center">
        <td style="border:1px solid black;padding:3px"><%= t.part.name %></td>
        <td style="border:1px solid black;padding:3px"><%= t.part.description %></td>
        <td class="money" style="border:1px solid black;padding:3px">$<%= t.display_current_price %></td>
        <td style="border:1px solid black;padding:3px"><%= t.part_quantity %></td>
      </tr>
    <% else %>
      <tr style="text-align:center">
        <td style="border:1px solid black;padding:3px"><%= t.parts_kit.name %></td>
        <td style="border:1px solid black;padding:3px"></td>
        <td class="money" style="border:1px solid black;padding:3px">$<%= t.parts_kit.display_kit_price %></td>
        <td style="border:1px solid black;padding:3px"><%= t.part_quantity %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<br />
<div style="font-size:1.25em">
Transaction Total: $<%= @transaction.display_transaction_total %>
</div>
