<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <ul class= "error_frame">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <% unless @current_user.id == 1 && current_page?(edit_user_url(1))%>
    <div class = "dropdown" >
      <% if @current_user.security == "Administrator" %>
        <label class = "user"><h3>Security Level</h3></label>
        <%= select(:user, :security, options_for_select(["Shopkeeper", "Administrator"], @user.security)) %>
      <% end %>
    </div>
    <div class = "field" >
      <h3><%= f.label :name, :class => "user" %></h3>
      <%= f.text_field :name, :class => "user" %>
    </div>
    <div class = "field" >
      <h3><%= f.label :email, :class => "user" %></h3>
      <%= f.text_field :email, :class => "user" %>
    </div>
  <% end %>
   <div class = "field" >  
    <h3><%= f.label :password, :class => "user" %></h3>
    <%= f.password_field :password, :class => "user" %>
  </div>
  <div class = "field" >
    <h3><%= f.label :password_confirmation, :class => "user" %></h3>
    <%= f.password_field :password_confirmation, :class => "user" %>
  </div>
  <%= f.submit :class => "buttons" %>
<% end %>
<%= button_to("Cancel", sessions_path, :method => :get, :class => "buttons") %>
