<h1>Create New User</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_frame">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "dropdown">
    <label>Security Level</label><%= select(:user, :security, options_for_select(["Shopkeeper", "Administrator"], @user.security)) %>
  </div>
  <div class="field">
    <h3><%= f.label :name %></h3>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <h3><%= f.label :email %></h3>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <h3><%= f.label :password %></h3>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <h3><%= f.label :password_confirmation %></h3>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
