<%= form_for @transaction_part do |f| %>
  <% if @transaction_part.errors.any? %>
    <ul class= "error_frame">
      <% @transaction_part.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<table>
  <th>Name</th>
  <th>Description</th>
  <th>Quantity</th>
  <tr>
    <td><%= @transaction_part.part.name %></td>
    <td><%= @transaction_part.part.description %></td>
    <td><div class = "field" ><%= f.text_field :part_quantity%></div></td>
  </tr>
</table>
  <div id='buttons'>  
    <%= f.submit :class => "submit" %>
  </div> <br />
<% end %>
