<% @line_total = transaction_part.display_current_price * transaction_part.part_quantity %>
<% if transaction_part.part_id %>
  <tr>
    <td><%= transaction_part.part.name %></td>
    <td><%= transaction_part.part.description %></td>
    <td><%= transaction_part.part.jameco_pn %></td>
    <td class="money">$<%= transaction_part.display_current_price %></td>
    <td><%= transaction_part.part_quantity %></td>
    <td>$<%= @line_total.to_money %></td>
<% else %>
  <tr>
    <td><%= transaction_part.parts_kit.name %></td>
    <td></td>
    <td></td>
    <td class="money">$<%= transaction_part.parts_kit.display_kit_price %></td>
    <td><%= transaction_part.part_quantity %></td>
    <td>$<%= @line_total.to_money %></td>
<% end %>
  <% if current_page?(edit_transaction_url(transaction_part.transaction)) %>
  <%= hidden_field(:transaction_part, :transaction_id, options={:value => @transaction.id}) %>
    <td class = "edit_button" style = "float: left"><%= link_to image_tag("edit-icon.png"), edit_transaction_part_path(transaction_part) %> <%= link_to image_tag("delete-button.png"), transaction_part_path(transaction_part), :method => :delete, :confirm => "Are you sure?" %>
  <% end %>
</tr>
