<tr>
  <td><%= transaction_part.part.name %></td>
  <td><%= transaction_part.part.description %></td>
  <td><%= transaction_part.part.jameco_pn %></td>
  <td><%= transaction_part.part_quantity %></td>
  <td><%= transaction_part.part.student_price %></td>
</tr>
