<%= form_for @kit_component do |f| %>
  <% if @kit_component.errors.any? %>
    <ul class= "error_frame">
      <% @kit_component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<table>
  <th>Name</th>
  <th>Description</th>
  <th>Quantity</th>
  <tr>
    <td><%= @kit_component.part.name %></td>
    <td><%= @kit_component.part.description %></td>
    <td ><%= f.text_field :part_quantity%></td>
  </tr>
</table>
    <%= f.submit "Save Changes", :class => "buttons" %>
<% end %>
