<%= form_for @kit_component do |f| %>
<table>
  <tr>
    <th>Part Kit ID</th>
    <th>Part ID</th>
    <th>Part Quantity</th>
  </tr>
  <tr>
    <td><%= f.text_field :parts_kit_id%></td>
    <td><%= f.text_field :part_id%></td>
    <td><%= f.text_field :part_quantity%></td>
  </tr>
</table>
  <div id='buttons'>
    <%= f.submit :class => "submit" %>
  </div> <br />
<% end %>
