<%= form_for @kit_component do |f| %>
<table>
  <th>Name</th>
  <th>Description</th>
  <th>Quantity</th>
  <tr>
    <td><%= @kit_component.part.name %></td>
    <td><%= @kit_component.part.description %></td>
    <td ><%= f.text_field :part_quantity%></td>
  </tr>
</table>
  <div id='buttons'>  
    <%= f.submit :class => "submit" %>
  </div> <br />
<% end %>
