<%= form_for @parts_kit do |f| %>
  <% if @parts_kit.errors.any? %>
    <ul class= "error_frame">
      <% @parts_kit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class = "field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "new_kit" %>
  </div>
  <div class = "field">
    <%= f.label :kit_price %>
    <%= f.text_field :display_kit_price, :class => "money" %>
  </div>
  <% unless current_page?(new_parts_kit_url) %>
    <div class = "field">
      <%= f.label :deprecated, "Discontinued" %>
      <%= check_box("parts_kit", "deprecated", {:class => "checkbox"}) %>
    </div>
  <% end %>
  <% if current_page?(new_parts_kit_url) %>
    <%= f.submit "Create Parts Kit",  :class => "buttons" %>  
  <% else %>
    <%= f.submit "Update Parts Kit",  :class => "buttons" %>  
  <% end %>
<% end %>
<%= button_to("Cancel", parts_path, :method => :get, :class => "buttons") %>
<br />
