<%= form_for @parts_kit do |f| %>
  <% if @parts_kit.errors.any? %>
    <ul class= "error_frame">
      <% @parts_kit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div class = "field">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "new_kit" %>
  </div>
  <div class = "field">
    <%= f.label :kit_price %>
    <%= f.text_field :display_kit_price, :class => "money" %>
  </div>
  <% unless current_page?(new_parts_kit_url) %>
    <div class = "field">
      <%= f.label :deprecated %>
      <%= check_box("parts_kit", "deprecated") %>
    </div>
  <% end %>
  <%= f.submit :class => "buttons" %>  
<% end %>
<%= submit_tag 'Cancel', :name => 'parts_kits[cancel]'%> 
