<%= render 'form' %>
<%# link_to "Add Component", new_kit_component_path, :parts_kit_id => @parts_kit.id %>
<table id='show_part'>
  <tr>
    <th>Part Name</th>
    <th>Description</th>
    <th>Jameco Part No.</th>
    <th>Quantity in Kit</th>
  </tr>
  <%= render @parts_kit.kit_components %>
  <tr><%= form_tag "/kit_components" do %>
    <td><%= collection_select(:kit_component, :part_id, Part.order(:name).all, :id, :name_and_desc, :prompt => true)%>
    <td></td>
    <td></td>
    <td><%= text_field(:kit_component, :part_quantity) %></td>
    <td class = "submit_button" ><%= submit_tag(value="Save") %></td>
    <%= hidden_field(:kit_component, :parts_kit_id, options={:value => @parts_kit.id}) %>
    <% end %>
  </tr>
</table>
