<h2>Kit Name: <%= @parts_kit.name %></h2>
<h3>Kit Price: $<%= @parts_kit.display_kit_price %></h3>
  <% @parts_kit_cost = 0 %> 
<% @parts_kit.kit_components.each do |kc| %>
  <% @parts_kit_cost += kc.part_quantity * kc.part.lot_cost.to_f %>
<% end %>
<% @profit = (@parts_kit.kit_price - @parts_kit_cost)/100 %>
<% @parts_kit_cost /= 100 %>
<h3>Kit Cost: <%= number_to_currency(@parts_kit_cost, :precision => 2) %> (Profit: <%= number_to_currency(@profit, :precision => 2) %>)</h3>
  <h3>Discontinued:
  <% if @parts_kit.deprecated.eql?(true) %>
    Yes
  <% else %>
    No
  <% end %></h3>
<%= button_to("Edit Kit", edit_parts_kit_path(@parts_kit), :method => :get) %>
<table>
  <tr>
    <th>Part Name</th>
    <th>Description</th>
    <th>Lot Cost</th>
    <th>Student Cost</th>
    <th>Quantity in Kit</th>
  </tr>
  <%= render @parts_kit.kit_components %>
</table>

