<%= form_for @transaction do |f| %>
  <% if @transaction.errors.any? %>
    <ul class= "error_frame">
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  
  <%= f.label "Student E-mail (required)" %>
  <%= f.text_field :student_email, :id => "new_trans_field" %>
  <div><%= f.submit :class => "buttons" %></div>
<% end %>
<%= button_to("Cancel", sessions_path, :method => :get, :class => "buttons") %>
