<%= form_for @transaction do |f| %>
  <% if @transaction.errors.any? %>
    <ul class= "error_frame">
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  
  <%= f.label "Student E-mail (required)" %>
  <div class= "field" ><%= f.text_field :student_email %></div>
  <%= f.submit %>
<% end %>
