<h1>Transaction : <%= @transaction.id %></h1>
<h2>Student: <%= @transaction.student_email %></h2>
<table class='shopkeeper'>
  <tr>
    <th>Part Name</th>
    <th>Description</th>
    <th>Jameco Part No.</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  <%= render @transaction.transaction_parts %>
  <tr><%= form_tag "/transaction_parts" do %>
    <td><%= collection_select(:transaction_part, :part_id, Part.order(:name).all, :id, :name_and_desc, :prompt => true)%>
    <td></td>
    <td></td>
    <td></td>
    <td><%= text_field(:transaction_part, :part_quantity) %></td>
    <td class = "submit_button" ><%= submit_tag(value="Add to order") %></td>
    <%= hidden_field(:transaction_part, :transaction_id, options={:value => @transaction.id}) %>
    <% end %>
  </tr>
</table>
<br />
<div class = "total">Transaction Total: 
  <%= @transaction.transaction_total %>
</div>
<%= form_for @transaction do |f| %>
  <div class = "submit_button" ><%= submit_tag(value="Submit") %></div>
<% end %>
<%= link_to "Cancel Transaction", @transaction, :method => :delete, :confirm => "Are you sure?" %>
