<h1>Transaction : <%= @transaction.id %></h1>
<h2>Student: <%= @transaction.student_email %></h2>
<table class='shopkeeper'>
  <tr>
    <th>Part Name</th>
    <th>Description</th>
    <th>Jameco Part No.</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total Cost</th>
  </tr>
  <%= render @transaction.transaction_parts %>
  <% if @transaction.sale_completed.eql?(false) %>
    <tr><%= form_tag "#{transaction_parts_path}" do %>
      <td><%= select(:transaction_part, :item_id, @dropdown_list.sort(), :prompt => true)%>
      <td></td>
      <td></td>
      <td></td>
      <td><%= text_field(:transaction_part, :part_quantity) %></td>
      <td />
      <td class = "buttons" ><%= submit_tag(value="Add to order") %></td>
      <%= hidden_field(:transaction_part, :transaction_id, options={:value => @transaction.id}) %>
      <% end %>
  </tr>
  <% end %>
</table>
<div class = "total">Transaction Total: 
    $<%= @transaction.display_transaction_total %>
</div>
<% if @transaction.sale_completed.eql?(false) %>
  <%= form_for @transaction do |f| %>
    <div class = "buttons" ><%= submit_tag(value="Complete Sale")%></div>
  <% end %>
  <%= button_to("Cancel Transaction", @transaction, :method => :delete, :confirm => "Are you sure?", :class => "buttons") %>
  <%= button_to("Suspend Transaction", sessions_path, :method => :get, :class => "buttons") %>
<% else %>
  <%= button_to("Cancel Edit", transactions_path, :method => :get, :class => "buttons") %>
<% end %>

