<h2>Transaction Number: <%= @transaction.id %></h2>
<h3>Student E-Mail: <%= @transaction.student_email %><br></h2>
  <% if @transaction.sale_completed.eql?(true)%>
    <% if @current_user.security == "administrator" %>
      <%= link_to "Edit Transaction", edit_transaction_path(@transaction) %>
    <% end %>
  <% else %>
    <%= link_to "Resume Suspended Transaction", edit_transaction_path(@transaction) %>
  <% end %>
<table id='transaction_parts'>
  <tr>
    <th>Part Name</th>
    <th>Description</th>
    <th>Jameco Part No.</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total Cost</th>    
  </tr>
  <%= render @transaction.transaction_parts %>
</table>
<div class="total">
Transaction Total: 
$<%= @transaction.transaction_total %>
</div>
