<!DOCTYPE html>
<html>
<head>
  <title>IEEE Parts Store</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  
  <!-- media queries css --> 
  <link href="media-queries.css" rel="stylesheet" type="text/css"> 
 
  <!-- html5.js for IE less than 9 --> 
  <!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]--> 
 
  <!-- css3-mediaqueries.js for IE less than 9 --> 
  <!--[if lt IE 9]>
	  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]--> 
  
  <%= csrf_meta_tags %>
</head>
<body>
<header id="header">
  <nav>
    <ul id="main-nav" class="clearfix">
      <li><%= link_to "Home", sessions_path %></li>
      <li><%= link_to "Transaction History", transactions_path %></li>
      <% if @current_user.security == "Administrator" %>
        <li><%= link_to "Inventory Management", parts_path %></li>
        <li><%= link_to "User Administration", users_path %></li>
      <% end %>
      <% if session[:user_id] %>
        <li><%= link_to "User Profile", edit_user_path(session[:user_id]) %></li>
        <li><%= link_to "Log Out", new_session_path, :method => :delete, :confirm => "Are you sure?", :class => "logout" %></li>
      <% end %>
    </ul>
  </nav>
</header>
<div id = "bodywrapper">
  <div class = "flash_message">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :class => "flash_#{name}" %>
    <% end %>
  </div>
  <%= yield %>
</div>
</body>
</html>
